<ion-view style="" title="Event Details">
    <ion-content class="has-header" padding="'true'">
        <a style="" class="button button-stable button-block button-small icon-left ion-android-arrow-back" href="#/tabs/allevents" menu-close="">back</a>
        <pre class="padding">

            <h1 class="title">{{eventbyId.name}}</h1>
        </div>
            <div class="list card">

                <div class="item item-avatar">
                 <h2>{{eventbyId.name}}</h2>
                  <p>{{eventbyId.venue}}</p>
                 </div>

              <div class="item item-image">
                 <img src="{{eventbyId.image.url}}">
               </div>

             <a class="item item-icon-left assertive">
                  <p>{{eventbyId.date | date}}</p>
                  <p>{{eventbyId.time}}</p>
                 </a>

            <div>
            <button class = "share" ng-click = "shareAnywhere('Join our event', eventbyId.image )">Share </button> 
            </div>
            <div>
            <button class = "sharefb" ng-click = "shareViaFacebook('Join our event', eventbyId.image)">ShareFb</button>
            </div>

            </div>

    		<!--- need to include chat handling logic -->
    		
<!--- need to include chat handling logic -->
            <strong>Comments...</strong>
            <input type="text" placeholder="Write a comment..." ng-model="addComment" ng-change="updateComment(addComment)">
            <button style="" class="button button-small" ng-click="postComment()">Submit</button>
            <ion-list ng-repeat='comment in comments track by $index'>
            <ion-item>
            <strong>user says.. </strong>
            {{comment}}
            <ion-item
            <strong>organizer replies.. </strong>
            {{replies[$index]}}
            </ion-item>
            </ion-item>
        </ion-list>

        </pre>
        <button style="" class="button button-stable button-block button-small" ng-click="doRsvp()">RSVP</button>
    </ion-content>
</ion-view>