<ion-view style="" title="Search Results">
    <ion-content class="has-header" padding="'true'">
        <a style="" class="button button-stable button-block button-small icon-left ion-android-arrow-back" href="#/tabs/search" menu-close="">Back</a>
        <ion-list ng-repeat='event in events track by event.objectId' >
    		<ion-item ng-href="#/eventDetails/{{event.objectId}}">
    		{{event.name}}
    		<br>
    		{{event.venue}}
    		{{event.date.substring(0,10)}}
    		{{event.time}}
    		<br>
    		</ion-item>
    	</ion-list>	
    </ion-content>
</ion-view>